<div class="relative m-5">
    <div class="bg-white  flex items-center py-5 px-3 rounded-md text-dark mb-3">
       <div class="mr-3">
          <h2 class="font-bold text-xl">Rechercher</h2>
       </div>
       <form class="flex items-center" [formGroup]="search">
            <div>
                <input type="search"
                    name="name"
                    formControlName="name"
                    id="default-search"
                    class="block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Nom" required />
            </div>
            <div class="ml-5">
                <select formControlName="completed" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option [ngValue]="null" selected>Aucun</option>
                    <option [ngValue]="true">Terminer</option>
                    <option [ngValue]="false">A faire</option>
                </select>
            </div>
       </form>
    </div>
    <button (click)="goToForm()" class="bg-blue-500 px-3 py-3 rounded-md text-md font-bold text-white mb-4 float-right">Creer une nouvelle taches</button>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                name
                </th>
                <th scope="col" class="px-6 py-3">
                 completed
                </th>
                <th scope="col" class="px-6 py-3">
                    createad
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks$ | async" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{task.name}}
                </th>

                <th scope="row">
                    <span class="{{task.completed | colorStatuSpan}}">
                        {{task.completed | pipeSetText}}
                    </span>
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{task.created | date}}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <button (click)="editRoute(task.id)" class="bg-yellow-500 px-2 py-2 mt-5 ml-5 rounded-lg text-gray-50 font-bold">Editer</button>
                    <button (click)="remove(task.id)" class="bg-red-500 px-2 py-2 mt-5 ml-5 rounded-lg text-gray-50 font-bold">Delete</button>
                    <button (click)="goToItemTask(task.id)" class="bg-blue-500 px-2 py-2 mt-5 ml-5 rounded-lg text-gray-50 font-bold">Detail</button>
                </th>
            </tr>
        </tbody>
    </table>
  </div>
